<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Editar Libro</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <h2 align="center"><span class="fa fa-book"></span> Editar libro</h2>
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
            <form method="post" action="/actualizar">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" name="libro[titulo]" value="<%= libro.titulo %>" class="form-control" id="titulo" placeholder="Titulo" required>
                </div>

                <div class="form-group">
                    <label for="resumen">Resumen</label>
                    <input type="text" name="libro[resumen]" value="<%= libro.resumen %>" class="form-control" id="resumen" placeholder="Resumen" required>
                </div>

                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="text" name="libro[imagen]" class="form-control" value="<%= libro.imagen %>" id="imagen" placeholder="Imagen" required>
                </div>

                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" name="libro[fecha]" class="form-control" value="<%= libro.fecha %>" id="fecha" required>
                </div>

                <input type="hidden" name="libro[id]" value="<%= libro.id %>">

                <div class="form-group" align="start">
                    <button type="submit" class="btn btn-primary">Guardar <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                    <a href="/" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>